{% extends 'base.html'%}
{% load static %}
{% block content %}
    <div>
        <h2 class="text-center">Browse Our Products</h2>
    </div>

    <div class="products">

        {% for book in Products %}
        <div class="ind-product">

        <div id="book-img"><img src="" alt="{{book.image.url}}" >
        </div>
            <div class="book-title">{{book.title}}</div>
            <div class="book-author">{{book.author}}</div>
        <div class="book-price">{{book.price}}</div>
        </div>
        {% endfor %}

    </div>
{% endblock %}

