{% extends 'base.html'%} {% load static %} {% block content %}
<div>
  <h2 class="text-center">Browse Our Books</h2>
</div>

<div class="products">
  {% for book in products %}
  <div class="ind-pro">
    <img src="{{book.image.url}}" alt="{{book.name}}" />
    <div class="pro_desc">
    <div class="book-title">{{book.name}}</div>
    <div class="book-author">by {{book.author_name}}</div>
    <div class="book-price">Rs. {{book.price}}</div>
    </div>
    
  </div>
  {% endfor %}
</div>
{% endblock %}
